<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href={{ url_for("static", filename = "images/favicon.png" )}} type="">

  <title> PotHole Detection - Home (PHD) </title>
  
  <!-- tail wind css -->
  <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">

  <!-- bootstrap core css -->
  <link rel="stylesheet" href={{ url_for("static", filename = "css/bootstrap.css") }} />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- font awesome style -->
  <link href={{ url_for("static", filename = "css/font-awesome.min.css" )}} rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href={{ url_for("static", filename = "css/style.css" )}} rel="stylesheet" />
  <!-- responsive style -->
  <link href={{ url_for("static", filename = "css/responsive.css" )}}  rel="stylesheet" />

</head>

<body>

  <div class="hero_area">

    <div class="hero_bg_box">
      <img src={{ url_for("static", filename = "images/hero-bg.png") }} alt="">
    </div>

    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="{{ url_for('index')}}">
            <span>
              Pothole Detection
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('index')}}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('about')}}"> About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('predict')}}">Predict</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('maps')}}">Maps</a>
              </li>
              <form class="form-inline">
                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </form>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>


  <!-- department section -->

  <section class="department_section layout_padding">
    <div class="department_container">
      <div class="container ">
        <div class="heading_container heading_center">
          <h2>
            Features for the Project
          </h2>
          <p>
            Pot hole detection
          </p>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="box ">
              <div class="img-box">
                <img src="{{ url_for("static", filename = "images/s1.png") }}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Training of the model
                </h5>
                <p>
                 We have used a whooping 1000 image data set to train the model in our custom build PC (personal computer). We have split At 9:1 ratio to train and test the model with 50000 epochs to give the best result.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="box ">
              <div class="img-box">
                <img src="{{ url_for("static", filename = "images/s2.png") }}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  SSD ResNet50 v1 Model
                </h5>
                <p>
                  ResNet50 is a convolutional neural network that is 50 layers deep. The pretrained network can classify images into 1000 object categories, such as keyboard, mouse, pencil, and many animals.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="box ">
              <div class="img-box">
                <img src="{{ url_for("static", filename = "images/s3.png") }}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Performance
                </h5>
                <p>
                  We have trained the model until it reaches the lowest loss, About 99.9% of accuracy and only 0.1% Loss. It is able to effectively learn and recognize complex patterns in images, thanks to its deep convolutional architecture.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="box ">
              <div class="img-box">
                <img src="{{ url_for("static", filename = "images/s4.png") }}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Limitations
                </h5>
                <p>
                  It takes a considerable amount of time to load the model into the web app, GUI or CLI applications. it is a large and complex model, which can require a significant amount of computational resources to train and use.
                </p>
              </div>
            </div>
          </div>
        </div>
       </div>
    </div>
  </section>

  <!-- end department section -->

  <!-- about section -->

  <section class="about_section layout_margin-bottom">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
             <img src={{ url_for("static", filename = "images/about-img.jpg") }} alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About <span>Us</span>
              </h2>
            </div>
            <p>
              Our project is a system that uses sensors and cameras to automatically detect and report potholes on roads. Potholes are a common problem on roads and can cause damage to vehicles and pose a safety hazard to drivers and passengers. By using sensors and cameras, a pothole detection system can quickly and accurately identify potholes and alert road maintenance crews to their location so that they can be repaired.
            </p>
            <a href="{{ url_for('about')}}">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

 <!-- footer section -->
 <footer class="footer_section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 footer_col">
        <div class="footer_detail">
          <h4>
            About
          </h4>
          <p>
            This web app is designed for The Pot Hole Detection on images and open CV and TensorFlow. After detecting the pothole, it will also mark the location of the pothole in the Google Maps.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-2 mx-auto footer_col">
        <div class="footer_link_box">
          <h4>
            Links
          </h4>
          <div >
            <a class="active" href="{{ url_for('index' )}}">
              Home
            </a>
            <a class="" href="{{ url_for('about')}}">
              About
            </a>
            <a class="" href="{{ url_for('predict' )}}">
              Predict
            </a>
            <a class="" href="{{ url_for('maps' )}}">
              Maps
            </a>
            <a class="tw-text-blue-500" href="https://github.com/Mahanth-Maha/PHD_FYP/">
              Project
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer section -->

  <!-- jQery -->
  <script type="text/javascript" href={{ url_for("static", filename = "js/jquery-3.4.1.min.js" )}}></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script type="text/javascript" href={{ url_for("static", filename = "js/bootstrap.js") }}></script>
  <!-- owl slider -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- custom js -->
  
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>


</body>

</html>